@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* .header {
  background: #562eff;
  padding: 25px;
} */

.bg-gray {
  background-color: #f4f4f4;
}
.bg-yellow {
  background: linear-gradient(180deg, #ff9c35, #ffd019);
}
.bg-pink {
  background: linear-gradient(180deg, #ff589b, #ff136f);
}
.bg-blue {
  background: linear-gradient(180deg, #4289ff, #3f07f8);
}

.nav-search {
  width: 300px;
}

.nav-search input {
  background-color: #f1f1f1;
  border: none;
}
.nav-search input:focus {
  background-color: #f1f1f1;
  color: rgb(204, 204, 204);
  box-shadow: 0 0 0 0.25rem rgba(204, 204, 204, 0.5);
}
.nav-search input::placeholder {
  color: #cccccc;
}

.nav-search svg {
  color: #bababa;
}

.slider .carousel-item {
  background-color: #feeae9;
}

/* .slider .carousel-item a {
} */

.btn.btn-custom {
  background: linear-gradient(180deg, #ff589b, #ff136f);
  color: white;
  padding: 15px 38px;
  border-radius: 6px;
  text-transform: uppercase;
}

.banner-price {
  color: #ff136f;
}

.news-letter > div {
  padding: 150px 0;
  background-color: #feeae9;
}
